{% extends 'base.html' %}
{% block content %}
<section id="navigation">
	<nav class="nav navbar-default" id="nav">
    <div class="container-fluid">
      <div class="row navigation">
        <div class="col-md-8 col-md-offset-2">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar mid-bar"></span>
              <span class="icon-bar low-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><strong>Medchecker</strong></a>
          </div>

          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right text-center">
              <li class="active"><a href="/">HOME</a></li>
              <li><a href="/login">LOGIN</a></li>
              <li><a href="/register">SIGNUP</a></li>
              <li><a href="/help"><i class="fa fa-question-circle fa-lg"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>
<section id="hero">
	<article>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">Welcome to Medchecker</h1>
					<p class="lead text-center">Login to check if your medication can be taken with another medication</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="well">
						<form class="form">
							<div class="form-group">
								<label for="username" class="sr-only">Username</label>
								<input type="text" class="form-control" placeholder="Username">
							</div>
							<div class="form-group">
								<label for="password" class="sr-only">Password</label>
								<input type="password" class="form-control" placeholder="Password">
							</div>
							<a class="btn btn-success btn-lg btn-block">Log-in</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
{% endblock %}